<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-6 ml-auto mr-auto">

      <h1>Editing Kind</h1>

      <%= render 'form', kind: @kind %>
      <%= link_to 'Show', @kind %> |
      <%= link_to 'Back', kinds_path %>
    </div>
  </div>
</div>