<div class="form-group">
  <%= f.radio_button :expense_type, 'daily' %>
  <%= f.label :expense_type, 'Daily' %>

  <%= f.radio_button :expense_type, 'fix' %>
  <%= f.label :expense_type, 'Fix' %>
</div>



