<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-6 ml-auto mr-auto">

      <h1>Editing Expense</h1>

      <%= render 'form', expense: @expense %>
      <%= link_to 'Show', @expense %> |
      <%= link_to 'Back', expenses_path %>
    </div>
  </div>
</div>