<div class="form-group">
  <%= f.radio_button :urgent, 'normal', wrapper: :horizontal_collection_inline %>
  <%= f.label :urgent, 'Normal' %>

  <%= f.radio_button :urgent, 'dringend', wrapper: :horizontal_collection_inline %>
  <%= f.label :urgent, 'Urgent' %>
</div>